<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/materialize.css">
    <title>Crud Personas</title>
</head>
<body>
    <%- include('./Navbar') -%>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Teléfono</th>
                    <th>Estado Civil</th>
                    <th>Hijos</th>
                    <th>Intereses</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i<personas.length; i++){ %>
                    <tr>
                        <td><%= personas[i].nombre %></td>
                    </tr>        
                <% } %>
            </tbody>
        </table>
    </div>
    <script src="/js/materialize.js"></script>
</body>
</html>