<nav>
    <div class="nav-wrapper indigo darken-1">
      <a href="#" class="brand-logo">&nbsp; CRUD 3 Parcial</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/Crear">Crear</a></li>
      </ul>
    </div>
</nav